doctype 5
html
 head
  title #{title}
  link(rel="stylesheet", type="text/css", href="/css/bootstrap.css")
  link(rel="stylesheet", type="text/css", href="/css/style-blog.css")
  link(rel="stylesheet", type="text/css", href="/prettify/sunburst.css")
  script(type="text/javascript", src="/prettify/prettify.js")      
 body
  div.container
    div.row
     div.span12.logo
    div.row
     div.span7.content 
      - if (blogs.length != 0) {
      for blog in blogs
       div.blog
        h3.blog-title 
         a(href="/blog/#{blog.title}") #{blog.title}
        p.blog-content #{method.sliceContent(blog.content)}
        div.info 
         span.info-date.pull-right #{method.outputDate(blog.date)}        
         span.info-tag.label.pull-right #{blog.category}
      - } else {
       div.blog
        p 抱歉 此分类下暂时没有任何文章
      - }
     div.span4
      include panel
     div.span1
  script(type="text/javascript", src="/js/jquery-1.8.3.min.js")  
  script(type="text/javascript", src="/js/bootstrap.js")  
  script(type="text/javascript", src="/js/blog.js")

