doctype 5
html
 head
  <meta name="" content="个人的node.js 前端知识总结"/>
  meta(name="description", content="")
  title #{title}
  include component/head
 body
  div.container
    include component/logo
    div.row
     div.span7.content 
      - if (blogs.length != 0) {
      for blog in blogs
       div.blog
        h3.blog-title 
         a(href="/blog/#{blog.title}") #{blog.title}
        p.blog-content #{method.sliceContent(blog.content)}
        div.info 
         span.info-date.pull-right #{method.outputDate(blog.date)}        
         span.info-tag.label.pull-right #{blog.category}
      - } else {
       div.blog
        p 抱歉 此分类下暂时没有任何文章
      - }
      div.pagination.pagination-small.pagination-centered
       ul
        - if (cur != 1) {
          li
            a(href="/blog?page=#{cur - 1}") «
        - }
        - for (var i = 1; i <= total; i++) {
          - if ( i == cur) {
           li.active
            a #{i}
          - } else {
           li
            a(href="/blog?page=#{i}") #{i}
          - }
        - }
        - if (total != cur) {
           li
            a(href="/blog?page=#{cur + 1}") »
        - } 
     div.span4
      include component/panel
     div.span1
    div.row
     include component/index_bottom


